@font-face {
  font-family: "AmericanCaptain";
  src: local("AmericanCaptain"),
   url("./fonts/AmericanCaptain.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "TechHeadlines";
  src: local("TechHeadlines"),
   url("./fonts/TechHeadlines.otf") format("opentype");
  font-weight: bold;
}

:root {
  --generalScale: 0.66
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background:
    linear-gradient(135deg, rgba(211,155,194,1) 0%, rgba(127,67,125,1) 32%, rgba(33,33,45,1) 100%),
    linear-gradient(345deg, rgba(211,155,194,0.9) 0%, rgba(127,67,125,0.9) 32%, rgba(33,33,45,0.9) 100%)
}

.app {
  display: flex;
  justify-content: space-between;
}

.creator {
  width: 38vw;
  height: 100%;
  padding: 60px 40px 60px 60px;
  display: flex;
  justify-content: space-between;
}

.creator__title {
  padding: 0 20px;
  margin: 0 0 50px 0;
  font-size: 4.9rem;
  font-family: "TechHeadlines";
  color: #fff;
  text-shadow: 2px 2px 0 #000;
  line-height: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 216px;
}

.form__label {
  margin: 0 0 10px 0;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 0 #000;
}

.form input, .form textarea, .form__type, .form__submit {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  margin: 0 0 25px 0;
  padding: 7px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
}

.form__submit {
  font-weight: bold;
  color: rgba(127,67,125,1);
  background-color: #fff;
  margin: 0;
}

.form__type {
  display: flex;
  flex-direction: column;
}

.form__radioGroup {
  display: flex;
  align-items: center;
  margin: 5px 0 5px 5px;
}

.form__radioGroup .form__radioInput {
  margin: 0 0 0 -5px;
}

.form__radioLabel {
  margin: 0 0 0 8px;
}

.form__description {
  resize: none;
}

.form__stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__stat {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form__cost, .form__power {
  /* width: 50%; */
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
} */

input[type=radio] {
  accent-color: #482e4e;
}

.collection {
  width: 58vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  overflow: scroll;
  padding: 40px 40px 40px 80px;
  box-sizing: border-box;
  height: 100vh;
}

.card {
  width: 216px;
  color: #fff;
  padding: 0 20px;
  margin: 0 0 20px 0;
  transition: all 0.2s;
}

.collection .card {
  width: calc(216px*var(--generalScale));
  padding: 0 30px;
  margin: 20px 0;
  height: fit-content;
}
.collection .card:hover {
  transform: scale(1.2);
}

.card__visual {
  height: 300px;
  width: 100%;
  position: relative;
}

.collection .card__visual {
  height: calc(300px*var(--generalScale));
}

.card__main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  aspect-ratio: 0.72;
  background-image: url("https://images.immediate.co.uk/production/volatile/sites/25/2022/04/mysteries-universe-4e3dc50.jpg?quality=90&resize=980,654");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 16.00px,16.00px 0,calc(100% - 16.00px) 0,100% 16.00px,100% calc(100% - 16.00px),calc(100% - 16.00px) 100%,16.00px 100%,0 calc(100% - 16.00px));
}

.creator .card__main {
  background-image: url("https://images.immediate.co.uk/production/volatile/sites/25/2022/04/mysteries-universe-4e3dc50.jpg?quality=90&resize=980,654");
  background-position: center;
}

.card__main:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(253,195,0,1) 0%, rgba(255,224,4,1) 60%);
  clip-path: polygon(0 16.00px,16.00px 0,calc(100% - 16.00px) 0,100% 16.00px,100% calc(100% - 16.00px),calc(100% - 16.00px) 100%,16.00px 100%,0 calc(100% - 16.00px),0 16.00px,5px  calc(16.00px + 2.07px),5px calc(100% - 16.00px - 2.07px),calc(16.00px + 2.07px) calc(100% - 5px),calc(100% - 16.00px - 2.07px) calc(100% - 5px),calc(100% - 5px) calc(100% - 16.00px - 2.07px),calc(100% - 5px) calc(16.00px + 2.07px),calc(100% - 16.00px - 2.07px) 5px,calc(16.00px + 2.07px) 5px,5px calc(16.00px + 2.07px));
}

.card__stats {
  position: absolute;
  font-size: 2.4rem;
  z-index: 2;
  top: -12px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-family: "TechHeadlines";
  overflow: hidden;
  box-shadow: 2px 2px 0 #000;
  text-shadow: 2px 2px 0 #000;
}

.collection .card__stats {
  font-size: calc(2.6rem*0.6);
  top: calc(-12px*var(--generalScale));
  line-height: calc(50px*var(--generalScale));
}

.cost {
  width: 50px;
  aspect-ratio: 1;
  left: -20px;
  border-radius: 50%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='25' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%232349FE' fill-opacity='0.6' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(135deg, rgba(86,134,249,1) 0%, rgba(35,73,254,1) 60%);
}

.collection .cost {
  width: calc(50px*var(--generalScale));
  left: calc(-20px*var(--generalScale));
}

.power__wrap {
  position: absolute;
  z-index: 2;
  right: 0;
  filter: drop-shadow(2px 2px 0 #000);
}

.power {
  width: 60px;
  height: 50px;
  right: -20px;
  clip-path: polygon(
    50% 0%,
    85% 25%,
    85% 75%,
    50% 100%,
    15% 75%,
    15% 25%);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='25' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23FE6205' fill-opacity='0.6' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(135deg, rgba(251,184,96,1) 0%, rgba(254,98,5,1) 60%);
}

.collection .power {
  width: calc(60px*var(--generalScale));
  height: calc(50px*var(--generalScale));
  right: calc(-20px*var(--generalScale));
}

.card__name {
  position: absolute;
  font-size: 4rem;
  line-height: 40px;
  z-index: 2;
  bottom: -20px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
  text-align: center;
  font-family: "AmericanCaptain";
  text-shadow: 2px 2px 0 #000;
}

.collection .card__name {
  font-size: calc(4rem*var(--generalScale));
  line-height: 24px;
  bottom: -12px;
}

.card__description {
  box-sizing: border-box;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 20px;
  margin-top: 25px;
  padding: 0 5px;
}

.collection .card__description {
  font-size: calc(1.5rem*0.8);
  line-height: calc(20px*0.85);
  margin-top: calc(25px*0.7);
  padding: 0 2px;
  min-height: 50px;
}

.bold {
  font-weight: bold;
}